@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Rubik';
    src: url('./resources/fonts/Rubik-VariableFont_wght.ttf');
}

#header {
    width: 100vw;
    height: 95vh;
    background-image: url('./resources/images/header.jpg');
    background-size: cover;
}

#logo {
    width: 200px;
    height: 200px;
    position: relative;
    left: 20px;
    bottom: 25px;
}

#doctors-img {
    width: 35%;
    height: 75%;
    position: relative;
    left: 65.55rem;
    bottom: 1.75rem;
    overflow: hidden;
    margin-right : 2px;
    filter: drop-shadow(0 0 0.75rem black);
}

#nav-bar {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid rgb(0, 106, 255);
    color: black;
    position: absolute;
    top: 5%;
    right: 40%;
    position: fixed;
    z-index: 999;
    background-color: white;
    margin: auto;
}

#nav-bar ol{
    display: flex;
    gap: 10px;
    list-style: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#nav-bar ol li{
    border-radius: 4px;
    width: 33.33%;
    height: 100%;
    margin: auto;
    font-family: Rubik;
    position: relative;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    padding: 7px;
}

#nav-bar ol li Link{
    text-decoration: none;
    color: black;
    padding: 1px 16px;
    box-sizing: border-box;
}


.nav-link.active {
    background-color: rgb(0, 106, 255);
    color: white;
    transition: all 0.2s linear;
}

#intro-line {
    font-family: Rubik;
    color: black;
    font-size: 350%;
    font-weight: 400;
    width: 50%;
    height: 50%;
    position: relative;
    left: 3%;
    bottom: 70%;
}

#patient-button {
    width: 170px;
    height: 40px;
    background-color: rgb(0, 106, 255);
    color: white;
    border-radius: 5px;
    text-align: center;
    position: relative;
    left: 72%;
    bottom: 96.95%;
    font-weight: 500;
    font-family: Rubik;
    z-index: 997;
}

#doctor-button {
    width: 170px;
    height: 40px;
    background-color: white;
    color: black;
    border-radius: 5px;
    text-align: center;
    position: relative;
    left: 74%;
    bottom: 96.95%;
    font-weight: 500;
    font-family: Rubik;
    border: 3px solid black;
    z-index: 997;
}

#get-started {
    width: 240px;
    height: 50px;
    background-color: rgb(0, 106, 255);
    color: white;
    border-radius: 5px;
    text-align: center;
    position: relative;
    left: 3%;
    bottom: 92%;
    font-weight: 500;
    font-family: Rubik;
}

#dashboard-intro {
    width: 93vw;
    height: 60vh;
    background-color: white;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.3rem black);
    margin: auto;
    position: relative;
    top: 20px;
}

#dashboard-intro h1 {
    width: 60%;
    height: 60%;
    font-family: Rubik;
    font-size: 245%;
    font-weight: 450;
    color: black;
    position: relative;
    left: 43%;
    bottom: 55%;
}

#dashboard-intro p {
    width: 60%;
    height: 60%;
    font-family: Rubik;
    font-size: 120%;
    font-weight: 420;
    color: black;
    position: relative;
    left: 43%;
    bottom: 70%;
}

#video-call-section {
    width: 93vw;
    height: 60vh;
    background-color: white;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.3rem black);
    margin: auto;
    position: relative;
    top: 40px;
}

#video-call-section h1 {
    width: 60%;
    height: 60%;
    font-family: Rubik;
    font-size: 245%;
    font-weight: 450;
    color: black;
    position: relative;
    left: 4%;
    bottom: 59%;
}

#video-call-section p {
    width: 60%;
    height: 60%;
    font-family: Rubik;
    font-size: 120%;
    font-weight: 420;
    color: black;
    position: relative;
    left: 4%;
    bottom: 88%;
}

#pres-box {
    width: 93vw;
    height: 60vh;
    background-color: white;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.3rem black);
    margin: auto;
    position: relative;
    top: 60px;
}

#pres-box h1 {
    width: 60%;
    height: 60%;
    font-family: Rubik;
    font-size: 245%;
    font-weight: 450;
    color: black;
    position: relative;
    left: 43%;
    bottom: 55%;
}

#pres-box p {
    width: 50%;
    height: 60%;
    font-family: Rubik;
    font-size: 120%;
    font-weight: 420;
    color: black;
    position: relative;
    left: 43%;
    bottom: 83%;
}

#transaction-box {
    width: 93vw;
    height: 60vh;
    background-color: white;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.3rem black);
    margin: auto;
    position: relative;
    top: 80px;
}

#transaction-box h1 {
    width: 60%;
    height: 60%;
    font-family: Rubik;
    font-size: 245%;
    font-weight: 450;
    color: black;
    position: relative;
    left: 4%;
    bottom: 65%;
}

#transaction-box p {
    width: 60%;
    height: 60%;
    font-family: Rubik;
    font-size: 120%;
    font-weight: 420;
    color: black;
    position: relative;
    left: 4%;
    bottom: 94%;
}

#footer {
    width: 100vw;
    height: 50vh;
    position: relative;
    top: 100px;
    background-color: whitesmoke;
    display: flex;
    gap: 80px;
    color: black;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 70px;
  }
  
.footer-section h4 {
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Rubik;
}

.footer-section p,
.footer-section ul,
.footer-section li {
    font-size: 16px;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    list-style: none;
    color: black;
}

.footer-section ul {
    padding-left: 0;
}

.footer-section Link {
    color: black;
    text-decoration: none;
}

.footer-section Link:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    color: black;
    position: relative;
    top: 60px;
    left: 20px;
}




/*Dashboard.jsx  */

#dashboard-section {
    width: 90vw;
    height: 78vh;
    background-color: whitesmoke;
    background-size: cover;
    border-radius: 20px;
    margin: auto;
    position: relative;
    top: 10%;
}

#personal-info {
    width: 20%;
    height: 30%;
    background-color: rgb(0, 106, 255);
    border-top-left-radius: 20px;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu {
    width: 20%;
    height: 70%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-bottom-left-radius: 20px;
    z-index: 999;
}

#menu ol li {
    margin: auto;
    width: 90%;
    height: 45px;
    font-family: Rubik;
    display: flex;
    gap: 20px;
    position: relative;
    top: 30px;
    border-bottom: 1px solid black;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    padding: 8px;
}

#menu ol li:hover {
    background-color: rgb(197, 216, 255);
    transition: all 0.5s linear;
}    


#appointments {
    width: 30%;
    height: 50%;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    bottom: 95%;
    left: 25%;
    background-color: transparent;
    padding: 10px;
}

#prescriptions {
    width: 30%;
    height: 50%;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    bottom: 145%;
    left: 65%;
    background-color: transparent;
    padding: 10px;
}

#medications {
    width: 70%;
    height: 30%;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    bottom: 135%;
    left: 25%;
    background-color: transparent;
    padding: 10px;
}