.signUp-form{
    height : 30rem;
    width  : 350px;
    padding : 20px;
    border: 2px solid black;
    margin: auto;
    border-radius: 1.35rem;
    position: relative;
    bottom: 5.8rem;
    font-weight: 500;
}
.input-fields{
    width : 300px !important;
    margin-top: 1.65rem !important;
    font-family: Rubik !important;
    /* margin-left : 1.3rem; */
    
}
.log-google{
    height : 3rem ;
    width : 16rem ;
    border : 1px solid black;
    font-size : 1.2rem;
    position: relative;
    top: 1.5rem;
    margin: auto;
    border-radius: 8px;
    text-align: center;
    padding: 0.5rem;
    display: flex;
    gap: 1.8rem;
}
.log-google:hover{
    color:white;
    background-color :rgb(2, 2, 20);
    cursor: pointer;

}
.user-type-selector{
    display: flex;
    justify-content: space-between;
    margin : 2.5rem 0 2.5rem 0;
    font-size : 1.25rem;
}